$themeColors:  #e83b35 #e8676b #ec407a #8e45ae #673bb7 #3f51b5 #5d6cc1 #1a77d4 #07aaf5 #56c8d2 #27a79a #07cb79 #8dc24c #ffde03 #fec107 #ff9801;
$default-body-background-color: #EFEFEF;
$default-text-color:#E7E8E8;
$shawdowboxBgColor : #FFFFFF;
$whiteBgColor : #FFFFFF;
